= form_for [@campaign, @profile] do |f|
  - if @profile.errors.any?
    %div#error_explanation
      %h2= "#{pluralize(@profile.errors.count, "error")} prohibited this profile from being saved:"
      %ul
      - @profile.errors.full_messages.each do |message|
        %li= message
  =hidden_field_tag :offset, params[:offset]
  %table.table.table-striped
    %tbody
      %tr
        %td{width:"150px"} First name:
        %td= f.text_field :first_name, class: "form-control", placeholder: "First name"
      %tr
        %td Last name:
        %td= f.text_field :last_name, class: "form-control", placeholder: "Last name"
      %tr
        %td Company:
        %td= f.text_field :company, class: "form-control", placeholder: "Company"
      %tr
        %td Website:
        %td= f.text_field :website, class: "form-control", placeholder: "Website"
      %tr
        %td Email:
        %td= f.text_field :email, class: "form-control", placeholder: "Email"
      %tr
        %td Gender:
        %td
          = f.collection_radio_buttons(:gender, [['Male', 'icon_male'], ['Female', 'icon_female']],
                                       :first, :last,
                                       :item_wrapper_class => 'horizontal',
                                       ) { |g| g.label {g.radio_button + image_tag("/images/#{g.text}.svg", width: "36px", height: "36px" ) }}
      %tr
        %td Company gender:
        %td
          %div.block_radio_button_collection
            = f.collection_radio_buttons(:company_gender, [['Male', 'icon_male'], ['Female', 'icon_female']],
                                       :first, :last,
                                       item_wrapper_class: :block_radio_button_collection,
                                       ) { |g| g.label { g.radio_button + ( g.value == "Male" ? "o " : "a ") +  @profile.company}}

  %div.actions
    = f.submit 'Salvar', class: 'btn btn-primary'
    - if @next
      = link_to 'Next', edit_campaign_profile_path(@campaign, @next, offset: params[:offset].to_i + 1), class: 'btn btn-default'
    =# link_to 'Voltar', campaing_profiles_path, class: 'btn btn-default'
