%div.container
  %h2= link_to "Campaign: #{@campaign.title}", campaign_profiles_path(@campaign)
  %div.profile-header
    %table
      %tr
        %td
          %div.picture
            %img(src="#{@profile.image}")
        %td
          %div.container
            %h1= @profile.name
            %h6= "Location: #{@profile.address_full}"
            %h6= link_to @profile.linkedin_url, @profile.linkedin_url, target: "_blank"

  = render 'form'
