%h2= link_to "Campaign: #{@campaign.title}", campaign_profiles_path(@campaign)

%div.container
  %div.profile-header
    %div.container
      %h1= @profile.name
      %h6= "Title: #{@profile.title}"
      %h6= "Company: #{@profile.company}"
      %h6= "Location: #{@profile.address_full}"
      %h6= link_to @profile.linkedin_url, @profile.linkedin_url, target: "_blank"
    %div.picture
      %img(src="#{@profile.image}")


  %br

  = render 'form'

  %br

  - if @domain
    = link_to "Busca no Google", "https://www.google.com.br/search?q=\"%40#{@domain}\"%20email", target: "_blank", class: "btn btn-xs btn-default"

    %br
    %br

  - if @emails
    %table.table.table-striped
      %tbody
        - @emails.each do |e|
          %tr
            %td{width:"150px"}= e.email
