%h2= "Campaign: #{@campaign.title} - Profiles: #{@profiles.count}"

= form_tag campaign_profiles_path(@campaign), :method => 'get' do
  %p
    = text_field_tag :search, params[:search]
    = submit_tag "Search", :name => nil

= form_tag destroy_multiple_campaign_profiles_path, method: :delete do
  %table.table.table-striped.table-hover.table-bordered
    %thead
      %tr
        %th
        %th Name
        %th Company
        %th Title
        %th Email
        %th
          %span.glyphicon.glyphicon-user
        %th
          %span.glyphicon.glyphicon-home
    %tbody
      - i = 0
      - @profiles.each do |p|
        - i += 1
        %tr
          %td= check_box_tag "campaign_profiles[]", p.id
          %td= link_to p.name, edit_campaign_profile_path(@campaign, p, offset: i)
          %td= p.company
          %td= p.title
          %td= p.email
          %td= p.gender == nil ? '' : (p.gender == 'Male' ? 'M' : 'F')
          %td= p.company_gender == nil ? '' : (p.company_gender == 'Male' ? 'M' : 'F')
  %br
  = submit_tag 'Delete selected', class: 'btn btn-danger', data: { confirm: 'Are you sure?' }

%br
