%h2= "Campaign: #{@campaign.title} - Profiles: #{@profiles.count}"
%table.table.table-striped.table-hover.table-bordered
  %thead
    %tr
      %th Name
      %th Company
      %th Title
      %th Email

  %tbody
    - i = 0
    - @profiles.each do |p|
      - i += 1
      %tr
        %td= link_to p.name, edit_campaign_profile_path(@campaign, p, offset: i)
        %td= p.company
        %td= p.title
        %td= p.email

%br
