%p.notice= notice

%h1= "Listing Profiles - Total: #{@profiles.count}"
%br
%table.table.table-striped.table-hover.table-bordered
  %thead
    %tr
      %th Name
      %th Company
      %th Title
      %th Email

  %tbody
    - @profiles.each do |profile|
      %tr
        %td= link_to profile.name, edit_profile_path(profile)
        %td= profile.company
        %td= profile.title
        %td= profile.email

%br
