<p id="notice"><%= notice %></p>

<h1>Listing Profiles</h1>

<style>
  tr:nth-child(even) {background: #aaa}
</style>


<table>
  <thead>
    <tr>
      <th></th>
      <th>Id</th>
      <th>Name</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Company</th>
      <th>Title</th>
      <!-- th>Address full</th -->
      <th>Address city</th>
      <!-- th>Address country</th -->
      <!-- th>Image</th -->
      <!-- th>Linkedin</th -->
      <!-- th>Linkedin url</th -->
      <!-- th>Linkedin company id</th -->
      <!-- th>Website</th -->
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= link_to 'Destroy', profile, method: :delete, data: {  } %></td>
        <td><%= profile.id %></td>
        <td><%= profile.name %></td>
        <td><%= profile.first_name %></td>
        <td><%= profile.last_name %></td>
        <td><%= profile.company %></td>
        <td><%= profile.title %></td>
        <!-- td><%= profile.address_full %></td -->
        <td><%= profile.address_city %></td>
        <!-- td><%= profile.address_country %></td -->
        <!-- td><img src='<%= profile.image %>' width='100px' height='100px'></td -->
        <!-- td><%= profile.linkedin_id %></td -->
        <!-- td ><%= profile.linkedin_url %></td -->
        <!-- td ><%= profile.linkedin_company_id %></td -->
        <!-- td ><%= profile.website %></td -->
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
