%p.notice= notice

%h1= "Listing Profiles - Total: #{@profiles.count}"
%br
%table.table.table-striped.table-hover.table-bordered
  %thead
    %tr
      %th Name
      %th Company
      %th Title
      %th Email

  %tbody
    - @profiles.each do |p|
      %tr
        %td= link_to p.name, edit_campaign_profile_path(@campaign, p)
        %td= p.company
        %td= p.title
        %td= p.email

%br
