<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @profile.company %>
</p>

<p>
  <strong>Title:</strong>
  <%= @profile.title %>
</p>

<p>
  <strong>Address full:</strong>
  <%= @profile.address_full %>
</p>

<p>
  <strong>Address city:</strong>
  <%= @profile.address_city %>
</p>

<p>
  <strong>Address country:</strong>
  <%= @profile.address_country %>
</p>

<p>
  <strong>Image:</strong>
  <%= @profile.image %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @profile.linkedin_id %>
</p>

<p>
  <strong>Linkedin url:</strong>
  <%= @profile.linkedin_url %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
