<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @profile.company %>
</p>

<p>
  <strong>Title:</strong>
  <%= @profile.title %>
</p>

<p>
  <strong>Address full:</strong>
  <%= @profile.address_full %>
</p>

<p>
  <strong>Address city:</strong>
  <%= @profile.address_city %>
</p>

<p>
  <strong>Address country:</strong>
  <%= @profile.address_country %>
</p>

<p>
  <strong>Image:</strong>
  <%= @profile.image %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @profile.linkedin_id %>
</p>

<p>
  <strong>Linkedin url:</strong>
  <%= @profile.linkedin_url %>
</p>

<p>
  <strong>Linkedin company:</strong>
  <%= @profile.linkedin_company_id %>
</p>

<p>
  <strong>Website:</strong>
  <%= @profile.website %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Company gender:</strong>
  <%= @profile.company_gender %>
</p>

<p>
  <strong>Source:</strong>
  <%= @profile.source %>
</p>

<p>
  <strong>Vertical:</strong>
  <%= @profile.vertical %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>Campaign:</strong>
  <%= @profile.campaign_id %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
