  %div.profile-header
    %div.container
      %h1= @profile.name
      %h6= "Title: #{@profile.title}"
      %h6= "Company: #{@profile.company}"
      %h6= "Location: #{@profile.address_full}"
      %h6= link_to @profile.linkedin_url, @profile.linkedin_url, target: "_blank"
    %div.picture
      %img(src="#{@profile.image}")

  %br

  %table.table.table-striped
    %tbody
      %tr
        %td{width:"150px"} First name:
        %td= @profile.first_name
      %tr
        %td Last name:
        %td= @profile.last_name
      %tr
        %td Website:
        - if @profile.website
          %td= link_to @profile.website, @profile.website, target: "_blank"
        - else
          %td
      %tr
        %td Email:
        %td= @profile.email
      %tr
        %td Gender:
        %td
          - case @profile.gender
          - when "Male"
            = image_tag("/images/icon_male.svg", width: "36px", height: "36px" )
          - when "Female"
            = image_tag("/images/icon_female.svg", width: "36px", height: "36px" )
      %tr
        %td Company gender:
        %td
          - case @profile.company_gender
          - when "Male"
            = "o #{@profile.company}"
          - when "Female"
            = "a #{@profile.company}"

  %br

  = link_to 'Edit', edit_campaign_profile_path(@campaign, @profile) |
  = link_to 'Back', campaign_profiles_path(@campaign)
