<p id="notice"><%= notice %></p>

<h1>Listing Campaigns</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= campaign.title %></td>
        <td><%= link_to 'Profiles', controller: 'profiles', action: 'index_campaigns', id: campaign.id %></td>
        <td><%= link_to 'Show', campaign %></td>
        <td><%= link_to 'Edit', edit_campaign_path(campaign) %></td>
        <td><%= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Hack Linkedin', controller: 'campaigns', action: 'hack_linkedin', id: campaign.id %></td>
        <td><%= link_to 'Hack Domains', controller: 'campaigns', action: 'hack_domains', id: campaign.id %></td>
        <td><%= link_to 'Import Website', controller: 'profiles', action: 'import_websites', id: campaign.id %></td>
        <td><%= link_to 'Hack Emails', controller: 'campaigns', action: 'hack_emails', id: campaign.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campaign', new_campaign_path %>
