%div.container
  %h2= "Campaign: #{@campaign.title}"
  %br
  %table.table.table-striped
    %tbody
      %tr
        %td= link_to '1. Hack Linkedin', hack_linkedin_campaign_path(@campaign.id)
      %tr
        %td= link_to '2. Hack Domains', hack_domains_campaign_path(@campaign.id)
      %tr
        %td= link_to '3. Import Domains', controller: 'profiles', action: 'import_domains', id: @campaign.id
      %tr
        %td= link_to '4. Hack Emails', hack_emails_campaign_path(@campaign.id)
      %tr
        %td= link_to '5. Import Emails', controller: 'emails', action: 'import_emails', id: @campaign.id
      %tr
        %td= link_to '6. Export CSV Pipedrive', csv_pipedrive_campaign_profiles_path(@campaign.id, format: :csv)
      %tr
        %td= link_to '7. Export CSV ReplyApp', csv_replyapp_campaign_profiles_path(@campaign.id, format: :csv)

  = link_to 'Edit', edit_campaign_path(@campaign, @profile), class: 'btn btn-default'
  = link_to 'Destroy', @campaign, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' }

  %br
  %br

  = link_to 'Back', campaigns_path
